.container {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.col-md-6 {
    margin-left: auto;
    margin-right: auto;
}

.line {
    margin-top: 45px;
    margin-bottom: 45px;
}

.line-small {
    margin-top: 25px;
    margin-bottom: 15px;
    width: 120px;
}